{% extends 'KisphpEmailBundle::email-layout.html.twig' %}

{% block body %}
    <table class="row">
        <tr>
            <td class="wrapper last">
                <table class="twelve columns">
                    <tr>
                        <td colspan="2">
                            <h5>{{ 'Contact' | trans }} <a href="{{ website_url }}">{{ website_name }}</a></h5>
                        </td>
                    </tr>
                    <tr>
                        <td width="120">{{ 'Name' | trans }}</td>
                        <td>{{ name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Email' | trans }}</td>
                        <td>{{ email }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Message' | trans }}</td>
                        <td>{{ text | nl2br }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}

{% block social_connect %}{% endblock %}
{% block unsubscribe %}{% endblock %}
