{% extends 'KisphpEmailBundle::email-layout.html.twig' %}

{% block body %}
    <table class="row">
        <tr>
            <td class="wrapper last">
                <h5>{{ 'recover-password' | trans }}</h5>
            </td>
        </tr>
        <tr>
            <td class="wrapper last">
                <p>{{ 'recover-password-hello' | trans }} {{ to_name }}.</p>
                <p>{{ 'recover-password-click-press-suggestion' | trans }}</p>
                <p><a href="{{ reset_password_url }}">{{ 'recover-password-link' | trans }}</a></p>
            </td>
        </tr>
    </table>
{% endblock %}

{% block social_connect %}{% endblock %}
{% block unsubscribe %}{% endblock %}
