<table class="row callout">
    <tr>
        <td class="wrapper last">
            <table class="twelve columns">
                <tr>
                    <td class="panel">
                        <p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. <a href="#">Click it! »</a></p>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
