<table class="row footer">
    <tr>
        <td class="wrapper">
            <table class="six columns">
                <tr>
                    <td class="left-text-pad">
                        <h5>{{ 'Connect with us' | trans }}:</h5>
                        <table class="tiny-button facebook">
                            <tr>
                                <td>
                                    <a href="#">Facebook</a>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <table class="tiny-button twitter">
                            <tr>
                                <td>
                                    <a href="#">Twitter</a>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <table class="tiny-button google-plus">
                            <tr>
                                <td>
                                    <a href="#">Google +</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
        <td class="wrapper last">
            <table class="six columns">
                <tr>
                    <td class="last right-text-pad">
                        <h5>{{ 'Contact Info' | trans }}:</h5>
                        <p>{{ 'Phone' | trans }}: 000.000.0000</p>
                        <p>{{ 'Email' | trans }}: <a href="mailto:mail@example.com">mail@example.com</a></p>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
