<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    {% include 'KisphpEmailBundle:Style:header-css.html.twig' %}

</head>
<body>
<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center>

                {% include 'KisphpEmailBundle:Blocks:header.html.twig' %}

                <table class="container">
                    <tr>
                        <td>

                            {#{% include 'KisphpEmailBundle:Blocks:welcome-image.html.twig' %}#}

                            {#{% include 'KisphpEmailBundle:Blocks:info.html.twig' %}#}

                            {% block body %}{% endblock %}

                            {% block social_connect %}
                            {% include 'KisphpEmailBundle:Blocks:social-connect.html.twig' %}
                            {% endblock %}

                            {% block unsubscribe %}
                            {% include 'KisphpEmailBundle:Blocks:unsubscribe.html.twig' %}
                            {% endblock %}

                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>
{#{% include 'KisphpEmailBundle:Style:footer-js.html.twig' %}#}
</body>
</html>
